@import './base/variables.css';
@import './base/reset.css';
@import './base/typography.css';
@import './layout/grid.css';
@import './utils/spacing.css';
@import './components/buttons.css';
@import './components/cards.css';
@import './components/navbar.css';
@import './components/hero.css';
@import './components/destinations.css';
@import './components/details.css';